<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rathaus"
            android:label="@string/category_Rathaus" />
        <activity
            android:name=".Leben"
            android:label="@string/category_Leben" />
        <activity
            android:name=".Entdecken"
            android:label="@string/category_Entdecken" />
        <activity
            android:name=".Stadtraum"
            android:label="@string/category_Stadtraum" />
    </application>

</manifest>